.hero-section{
    height: 110vh;
    width: 100%;
    background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS8UkZOlAcJmX17VGFIKZ0u3qSjz_qAuy5f7YMCf_jQk0w2O4Ik');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    top: 100px;
}
.hero{
    height: 110vh;
    width: 70%;
    /* border: 1px solid; */
    margin: 100px;
    
    
}
.hero .button{
    /* border: 1px  solid; */
    height:100px;
    width: 100%;
}
.hero .text{
    height:350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;

}