.home-body{
height: 2000px;
/* background-color: black; */
background-image: url('https://www.pexels.com/photo/elegant-dining-table-with-assorted-vegetables-28859386/');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}